.form {
  background-color: rgb(96, 87, 122);
  margin: 10px;
  border-radius: 0.2rem;
}

.titleBox {
  margin-top: 10px;
  padding-top: 5px;
}

.title {
  margin-top: 20px;
  background: #442070;
  border-radius: 1rem;
  width: 500px;
  font-size: 28px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: beige;
  margin-left: 700px;
  margin-bottom: 20px;
  padding: 10px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 23px;
}

.input {
  border-radius: 0.5rem;
  background: #e9d8fd;
  font-size: 20px;
}

.divSelect {
  display: flex;
  justify-content: center;
  margin-left: 825px;
  max-height: 20px;
  max-width: 300px;
  border-radius: 1rem;
  font-size: 20px;
  font-weight: 200px;
}

.pSelect {
  justify-content: center;
  font-size: 20px;
  margin: 1px;
  border: 5px;
}

.inputSubmit {
  align-items: center;
  background: #442070;
  border: 0;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 1.25rem;
  overflow: visible;
  margin-bottom: 20px;
}

.inputSubmit:disabled,
.inputSubmit[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.errors {
  color: red;
  font-weight: 300px;
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
}

.delete {
  cursor: pointer;
  font-weight: 600;
  color: black;
  background-color: rgb(190, 96, 244);
}
