.ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 1200px;
  width: 1900px;
  list-style-type: none;
  background-color: rgb(90, 83, 94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 2px;
  padding: 1px;
}

.li {
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  flex: 0 0 5%;
  font-weight: 500;
  border-radius: 1rem;
  border: whitesmoke 1px;
  padding: 1px;
  margin: 5px;
  max-height: 400px;
}

.img {
  border: whitesmoke 1px;
  margin: 5px;
  border-radius: 0.5rem;
  width: 350px;
  height: 250px;
}

.title {
  text-decoration: none;
  color: blanchedalmond;
}

.genres {
  color: blanchedalmond;
}
