@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.container {
  background-image: url(https://cdn.wallpapersafari.com/95/65/ZAtx5e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #f0fdff;
  line-height: 25px;
  display: flex;
  text-align-last: center;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}

.button {
  margin-top: 50px;
  margin-left: 50px;
  background: #4f4cac;
  border: 0;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 1.25rem;
}
