.ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
  padding: 30px;
}

.button {
  margin-left: 50px;
  background: #4f4cac;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 1.25rem;
}

.prev {
  margin-left: 50px;
  background: #4f4cac;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 1.25rem;
}

.next {
  margin-left: 50px;
  background: #4f4cac;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem 1.25rem;
}
