.container {
  background-color: rgb(29, 15, 34);
  display: flex;
  flex-direction: column;
}

.containNav {
  background-color: rgb(37, 19, 44);
  margin: 5px;
  padding: 5px;
}

.containGames {
  background-color: rgb(148, 115, 160);
}

.containPagination {
  background-color: rgb(37, 19, 44);
}

s.loading {
  background-color: salmon;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
